Tesla and IO JSON.json
[{"id":"99f1ea690f5ce8ef","type":"tab","label":"Intelligent Octopus","disabled":false,"info":"","env":[]},{"id":"6a9ede1cd25fc3c9","type":"api-call-service","z":"99f1ea690f5ce8ef","name":"Set Powerwall Reserve to 100% to stop using PW","server":"a069e0d2.b4529","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["calendar.family","number.farrimond_home_backup_reserve"],"data":"{\"value\":100}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1750,"y":60,"wires":[["77ac8b6cee63addd","4db601f0337b7b2c"]]},{"id":"77afa9ec5225ed11","type":"api-call-service","z":"99f1ea690f5ce8ef","name":"Set Powerwall Reserve to 15%","server":"a069e0d2.b4529","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.farrimond_home_backup_reserve"],"data":"{\"value\":15}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":1040,"wires":[["a14d35e7babb8805","195e99ca206d4538"]]},{"id":"a14d35e7babb8805","type":"debug","z":"99f1ea690f5ce8ef","name":"debug 1","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":1220,"wires":[]},{"id":"d7a9977efc209175","type":"server-state-changed","z":"99f1ea690f5ce8ef","name":"Octopus Intelligent Slot","server":"a069e0d2.b4529","version":4,"outputs":2,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.octopus_intelligent_slot","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","output_only_on_state_change":true,"x":160,"y":380,"wires":[["4df6b0aee456a1ed"],["a6c8dd127edbffbf"]]},{"id":"4df6b0aee456a1ed","type":"switch","z":"99f1ea690f5ce8ef","name":"On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":260,"wires":[["20c2e7985ad7f6a2"]]},{"id":"a6c8dd127edbffbf","type":"switch","z":"99f1ea690f5ce8ef","name":"Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":1040,"wires":[["77afa9ec5225ed11"]]},{"id":"77ac8b6cee63addd","type":"debug","z":"99f1ea690f5ce8ef","name":"debug 2","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2190,"y":320,"wires":[]},{"id":"855f721c90b67787","type":"api-call-service","z":"99f1ea690f5ce8ef","name":"Notify Powerwall Reserve 100% and Battery Charging","server":"a069e0d2.b4529","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_james_phone","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"message\":\"Smart Charging Detected - Powerwall Charging\",\t   \"title\":\"Powerwall is set to 100% Backup and is charging\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"first","x":4460,"y":260,"wires":[[]]},{"id":"4db601f0337b7b2c","type":"api-current-state","z":"99f1ea690f5ce8ef","name":"Check if Powerwall is Charging","server":"a069e0d2.b4529","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.powerwall_charging","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2250,"y":220,"wires":[["8d32faeae039f5b2"],["f71efc2518bcb262"]]},{"id":"8d32faeae039f5b2","type":"switch","z":"99f1ea690f5ce8ef","name":"Yes","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2590,"y":180,"wires":[["e207c9eb2e5401b6"]]},{"id":"4bfe52560595038d","type":"delay","z":"99f1ea690f5ce8ef","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":4190,"y":180,"wires":[["855f721c90b67787"]]},{"id":"d8327512f62f59fe","type":"api-call-service","z":"99f1ea690f5ce8ef","name":"Notify Powerwall Reserve 100% and Not Charging","server":"a069e0d2.b4529","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_james_phone","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"message\":\"Smart Charging Detected\",\t   \"title\":\"Powerwall is set to 100% Backup and is NOT charging\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"first","x":3790,"y":600,"wires":[[]]},{"id":"f71efc2518bcb262","type":"switch","z":"99f1ea690f5ce8ef","name":"No","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":3330,"y":600,"wires":[["cda7155df45b3152"]]},{"id":"cda7155df45b3152","type":"delay","z":"99f1ea690f5ce8ef","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3490,"y":600,"wires":[["d8327512f62f59fe"]]},{"id":"07da1848d18185a5","type":"api-call-service","z":"99f1ea690f5ce8ef","name":"Notify Powerwall Reserve 15%","server":"a069e0d2.b4529","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_james_phone","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"message\":\"Powerwall Reserve back to 15%\",\t   \"title\":\"Powerwall is set back to 15%\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"first","x":1970,"y":1040,"wires":[[]]},{"id":"21b7dbe36659c94b","type":"delay","z":"99f1ea690f5ce8ef","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1630,"y":1040,"wires":[["07da1848d18185a5"]]},{"id":"e207c9eb2e5401b6","type":"api-current-state","z":"99f1ea690f5ce8ef","name":"Check is Solar tomorrow is more than 13.5kw","server":"a069e0d2.b4529","version":3,"outputs":2,"halt_if":"13.5","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.energy_production_tomorrow","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2870,"y":180,"wires":[["63d43bc03c9d26f9"],["b2353071bdd79a79"]]},{"id":"63d43bc03c9d26f9","type":"api-current-state","z":"99f1ea690f5ce8ef","name":"Does Powerwall have more than 50% spare?","server":"a069e0d2.b4529","version":3,"outputs":2,"halt_if":"6750","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.farrimond_home_battery_remaining","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":3050,"y":20,"wires":[["62bd9b1acc07a153"],["b2353071bdd79a79"]]},{"id":"1c2d60c4f67f1f91","type":"api-call-service","z":"99f1ea690f5ce8ef","name":"Turn off Grid Charging","server":"a069e0d2.b4529","version":5,"debugenabled":true,"domain":"select","service":"select_option","areaId":[],"deviceId":[],"entityId":["select.i_pity_the_fools_grid_charging"],"data":"{\"option\":\"No\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":3660,"y":20,"wires":[["382bd359c7f82758"]]},{"id":"0c93e2092432f55f","type":"api-call-service","z":"99f1ea690f5ce8ef","name":"Turn on Grid Charging","server":"a069e0d2.b4529","version":5,"debugenabled":true,"domain":"select","service":"select_option","areaId":[],"deviceId":[],"entityId":["select.i_pity_the_fools_grid_charging"],"data":"{\"option\":\"Yes\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":3740,"y":400,"wires":[["4bfe52560595038d"]]},{"id":"b2353071bdd79a79","type":"api-current-state","z":"99f1ea690f5ce8ef","name":"Is Charging on?","server":"a069e0d2.b4529","version":3,"outputs":2,"halt_if":"Yes","halt_if_type":"str","halt_if_compare":"is","entity_id":"select.i_pity_the_fools_grid_charging","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":3460,"y":220,"wires":[[],["0c93e2092432f55f"]]},{"id":"382bd359c7f82758","type":"debug","z":"99f1ea690f5ce8ef","name":"debug 3","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":4030,"y":80,"wires":[]},{"id":"968c7cd6b08f5822","type":"api-current-state","z":"99f1ea690f5ce8ef","name":"Check if Powerwall Reserve is 100%","server":"a069e0d2.b4529","version":3,"outputs":2,"halt_if":"100","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.farrimond_home_backup_reserve","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1370,"y":260,"wires":[["6a9ede1cd25fc3c9"],["8fbbe6668cf19bea","4db601f0337b7b2c"]]},{"id":"8fbbe6668cf19bea","type":"debug","z":"99f1ea690f5ce8ef","name":"debug 4","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1870,"y":380,"wires":[]},{"id":"195e99ca206d4538","type":"api-current-state","z":"99f1ea690f5ce8ef","name":"Is Charging on?","server":"a069e0d2.b4529","version":3,"outputs":2,"halt_if":"No","halt_if_type":"str","halt_if_compare":"is","entity_id":"select.i_pity_the_fools_grid_charging","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1000,"y":1040,"wires":[["6b5fa82321c83fcf"],["862cd58fec21e8f5"]]},{"id":"6b5fa82321c83fcf","type":"api-call-service","z":"99f1ea690f5ce8ef","name":"Turn on Grid Charging","server":"a069e0d2.b4529","version":5,"debugenabled":true,"domain":"select","service":"select_option","areaId":[],"deviceId":[],"entityId":["select.i_pity_the_fools_grid_charging"],"data":"{\"option\":\"Yes\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1280,"y":1040,"wires":[["21b7dbe36659c94b"]]},{"id":"862cd58fec21e8f5","type":"debug","z":"99f1ea690f5ce8ef","name":"debug 5","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1190,"y":1180,"wires":[]},{"id":"62bd9b1acc07a153","type":"api-current-state","z":"99f1ea690f5ce8ef","name":"Is Charging on?","server":"a069e0d2.b4529","version":3,"outputs":2,"halt_if":"Yes","halt_if_type":"str","halt_if_compare":"is","entity_id":"select.i_pity_the_fools_grid_charging","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":3400,"y":40,"wires":[["1c2d60c4f67f1f91"],["cda7155df45b3152"]]},{"id":"20c2e7985ad7f6a2","type":"api-current-state","z":"99f1ea690f5ce8ef","name":"Check if an EV is Connected","server":"a069e0d2.b4529","version":3,"outputs":2,"halt_if":"EV Connected","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.myenergi_zappi_17181457_plug_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"2","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":700,"y":260,"wires":[["95820782c58c2aa0"],["5d6c4c41fbee209d"]]},{"id":"95820782c58c2aa0","type":"api-current-state","z":"99f1ea690f5ce8ef","name":"Check if Smart Charging is enabled","server":"a069e0d2.b4529","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.octopus_smart_charging","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1040,"y":420,"wires":[["968c7cd6b08f5822"],[]]},{"id":"5d6c4c41fbee209d","type":"api-current-state","z":"99f1ea690f5ce8ef","name":"Check if an EV is Connected","server":"a069e0d2.b4529","version":3,"outputs":2,"halt_if":"Waiting for EV","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.myenergi_zappi_17181457_plug_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"2","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":680,"y":360,"wires":[["95820782c58c2aa0"],["81ce9a240c9bbe73"]]},{"id":"81ce9a240c9bbe73","type":"api-current-state","z":"99f1ea690f5ce8ef","name":"Check if an EV is Connected","server":"a069e0d2.b4529","version":3,"outputs":2,"halt_if":"Charging","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.myenergi_zappi_17181457_plug_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"2","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":680,"y":440,"wires":[["95820782c58c2aa0"],[]]},{"id":"a069e0d2.b4529","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]